.indicator-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #ECF0F5;
}

.navview .navview-pane {
  background-color: #222D32;
  color: #b8c7ce;
  font-size: 14px;
}

.navview .navview-content {
  padding-top: 52px;
  background-color: #ECF0F5;
}

.navview .pull-button {
  height: 52px;
  width: 52px;
}

.navview .navview-menu {
  background-color: #222D32;
}

.navview .navview-menu li a:hover {
  color: #fff;
  background: #1e282c;
}

.navview .navview-menu li.active a {
  color: #fff;
  background: #1e282c;
}

.navview .navview-menu .item-header {
  color: #4b646f;
  background: #1a2226;
  font-size: 12px;
}

.navview .navview-menu .navview-menu {
  background-color: #1a2226;
}

.navview .pull-button + h2 {
  display: none;
}

.navview.expand .pull-button + h2 {
  display: flex;
}

.dashboard-section-title {
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.navview-pane ::-webkit-scrollbar-track {
  background-color: #4b646f !important;
}

.navview-pane * {
  scrollbar-color: #1ba1e2 #4b646f !important;
}